parameters:
	ignoreErrors:
		-
			message: '#^Call to function cacti_log\(\) on a separate line has no effect\.$#'
			identifier: function.resultUnused
			count: 1
			path: audit.php

		-
			message: '#^Call to function cacti_log\(\) on a separate line has no effect\.$#'
			identifier: function.resultUnused
			count: 4
			path: audit_functions.php

		-
			message: '#^Call to function set_config_option\(\) on a separate line has no effect\.$#'
			identifier: function.resultUnused
			count: 1
			path: audit_functions.php

		-
			message: '#^Call to function cacti_log\(\) on a separate line has no effect\.$#'
			identifier: function.resultUnused
			count: 1
			path: audit_syslog.php

		-
			message: '#^Call to function set_config_option\(\) on a separate line has no effect\.$#'
			identifier: function.resultUnused
			count: 1
			path: audit_syslog.php

		-
			message: '#^Call to function cacti_log\(\) on a separate line has no effect\.$#'
			identifier: function.resultUnused
			count: 4
			path: setup.php

		-
			message: '#^Call to function set_config_option\(\) on a separate line has no effect\.$#'
			identifier: function.resultUnused
			count: 1
			path: setup.php

		-
			message: '#^Parameter \#1 \$filename of function file_get_contents expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/Php81SyntaxTest.php

		-
			message: '#^Parameter \#1 \$filename of function is_readable expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/Php81SyntaxTest.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/Php81SyntaxTest.php

		-
			message: '#^Parameter \#1 \$filename of function file_get_contents expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/PreparedStatementConsistencyTest.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/PreparedStatementConsistencyTest.php

		-
			message: '#^Cannot access offset ''info'' on array\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Security/SetupStructureTest.php

		-
			message: '#^Parameter \#1 \$filename of function file_get_contents expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/SetupStructureTest.php

		-
			message: '#^Parameter \#1 \$filename of function parse_ini_file expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/SetupStructureTest.php

		-
			message: '#^Parameter \#1 \$delivery_ids of function audit_syslog_retry_dead_letters expects array\<int, int\>, array\<int, int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/SyslogQueueTest.php

		-
			message: '#^Cannot access offset ''ca'' on array\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Cannot access offset ''result'' on array\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Cannot access offset 0 on array\<resource\>\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 9
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Cannot access offset 1 on array\<resource\>\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Parameter \#1 \$haystack of function strrpos expects string, string\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Parameter \#1 \$material of function audit_syslog_test_remove_tls_material expects array, array\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Parameter \#1 \$material of function audit_syslog_test_tls_server expects array, array\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Parameter \#1 \$socket of function socket_set_option expects Socket, Socket\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Parameter \#1 \$socket of function stream_socket_accept expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Parameter \#1 \$socket of function stream_socket_get_name expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Parameter \#1 \$stream of function fclose expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 6
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Parameter \#1 \$stream of function fread expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Parameter \#1 \$stream of function stream_set_timeout expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Integration/SyslogFunctionsTest.php

		-
			message: '#^Parameter \#1 \$string of function substr expects string, string\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Integration/SyslogFunctionsTest.php
